certifi==2022.12.7
creart==0.2.2
httpx==0.24.0
jieba==0.42.1
openai==0.27.2
Pillow
prompt_toolkit==3.0.36
pycryptodome==3.16.0
requests
rich==13.3.4
saucenao_api==2.4.0
websockets==10.4
graia.ariadne==0.11.3
graia.saya==0.0.17
graia.scheduler==0.1.4
graia.broadcast==0.19.2
graiax.silkcoder==0.3.6
Crypto
